@import '../../src/no-data-state/styles.scss';
@import '../../src/nrql-query-error/styles.scss';

.EmptyState,
.ErrorState {
    height: 100%;
    text-align: center;

    &-cardBody {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ErrorState-headingText {
    color: darkgrey;
}

.container{
    height: calc(100% - 32px);
    overflow: hidden;
    margin: 16px;
}

.chartName {
    margin-bottom: 16px;
}

.tooltip {	
    position: absolute;
    text-align: center;
    padding: 8px;
    background:#ccc;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

.tableChart {
	height: 160px;
	margin-top: 16px;
	overflow: auto;
	.list-item-label__text {
		font-size: 12px;
	}
}
